.eve-checkbox{

}
.eve-checkbox>input{ display: none}

.eve-checkbox>label>span{
    cursor: pointer; font-weight: normal; line-height: 20px;  display: inline-block;
}
.eve-checkbox>label  span:before  {
    padding-top :2px
}
.eve-checkbox>input:checked+label  span:before  {
    content: "\f00c";
    transition: all 0.3s ease-in-out;
    color: #ffffff;
    border:1px solid #3c8dbc;
    background-color :#3c8dbc;
    -webkit-font-smoothing: antialiased;
}

.eve-checkbox>input:enabled+label:hover span:before{
    border: 1px solid  #3c8dbc;
    height: 20px;
    width: 20px;
}
.eve-checkbox>label span:before{
    margin-right :3px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    content: "";
    color: #ffffff;
    border:1px solid #ddd;
    background-color: #fffff;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
 
.eve-checkbox>input[disabled]:checked+label  span:before  {
    border:1px solid rgba(60, 141, 188, 0.65);
    background-color :rgba(60, 141, 188, 0.65);
    cursor:not-allowed;
    content: "\f00c";
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}
.eve-checkbox>input[disabled]+label  span:before  {
    content: " ";
    color: #ffffff;
    cursor:not-allowed;
    border-color:1px solid #ddd!important;
}

