<div>

    <section class="content-header">
        <h1>
            Demo Page
        </h1>

    </section>
    <section class="content">
        <eve-tab header="Http">
            <eve-tab-item header="Demo">
                <div>
                    <button @click="onHttpGet" class="btn btn-primary ">Test Http Get</button>
                </div>
            </eve-tab-item>

            <eve-tab-item header="Code">
                 <pre>
                        <code class="lang-typescript">

                        {{code.http}}
                        </code>
                 </pre>
            </eve-tab-item>


        </eve-tab>
        <eve-tab header="EveModal">
            <eve-tab-item header="Demo">
                <div>
                    <button @click="onModal" class="btn btn-primary ">OpenModal</button>
                    <eve-modal v-model:shown="isShown" header="test">
                        <div>fffffffffffffff</div>
                    </eve-modal>
                </div>
            </eve-tab-item>

            <eve-tab-item header="Code">
                <pre>
                        <code class="lang-typescript">
                {{code.modal}}
                        </code>
                 </pre>
            </eve-tab-item>
        </eve-tab>

        <eve-tab header="EveTab">
            <eve-tab-item header="Demo">
                <eve-tab v-model:selected-index='tabSelectedIndex'
                         v-on:selectedIndexChange="onTabSelectedChange($event)">
                    <eve-tab-item header="Tab1" icon="eye">
                        111111111111
                    </eve-tab-item>

                    <eve-tab-item header="Tab2">
                        222222222222222222222
                    </eve-tab-item>
                </eve-tab>
            </eve-tab-item>

            <eve-tab-item header="Code">
                <pre>
                        <code class="lang-typescript">
                {{code.tab}}
                        </code>
                 </pre>
            </eve-tab-item>
        </eve-tab>

        <eve-tab header="EveCheckbox">
            <eve-tab-item header="Demo">
                <div>

                    <eve-checkbox v-model:value="checkboxValue" name="ck" v-on:valueChange="onCkValueChange">
                        fffffffffffffff
                    </eve-checkbox>
                </div>
            </eve-tab-item>

            <eve-tab-item header="Code">
                <pre>
                        <code class="lang-typescript">
                            {{code.eveCheckbox}}
                        </code>
                 </pre>
            </eve-tab-item>
            <eve-tab-item header="Properties">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 10px">Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>usage</th>
                    </tr>
                    <tr>
                        <td>value</td>
                        <td>v-model</td>
                        <td>chcekbox绑定值</td>
                        <td>v-model:value="xxxx"</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>v-bind</td>
                        <td>控件名字</td>
                        <td> :name='xxxx' or name:'string'</td>
                    </tr>
                    <tr>
                        <td>valueChange</td>
                        <td>v-on</td>
                        <td>value改变后触发事件</td>
                        <td> v-on:valueChange="onCkValueChange"</td>

                    </tr>

                    </tbody>
                </table>
            </eve-tab-item>
        </eve-tab>



        <eve-tab header="EveCharts">
            <eve-tab-item header="Demo">
                <div>
                    <button @click="onChangeOptions()">Change Options</button>
                    <eve-charts :options="chartsOption" :height="300" :width="600">
                    </eve-charts>
                </div>
            </eve-tab-item>

            <eve-tab-item header="Code">
                <pre>
                        <code class="lang-typescript">
        {{code.eveCharts}}
                        </code>
                 </pre>
            </eve-tab-item>
            <eve-tab-item header="Properties">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 10px">Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>usage</th>
                    </tr>
                    <tr>
                        <td>options</td>
                        <td>v-bind</td>
                        <td>图表数据属性</td>
                        <td><p>
                            <a target="_blank" href="http://echarts.baidu.com/tutorial.html#5%20%E5%88%86%E9%92%9F%E4%B8%8A%E6%89%8B%20ECharts">
                             参考   http://echarts.baidu.com/tutorial.html
                            </a>
                        </p> </td>
                    </tr>
                    <tr>
                        <td>height</td>
                        <td>v-bind</td>
                        <td>图表高度</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>width</td>
                        <td>v-on</td>
                        <td>图表宽度</td>
                        <td> :width="width"</td>

                    </tr>

                    </tbody>
                </table>
            </eve-tab-item>
        </eve-tab>
        <eve-tab>
            <eve-tab-item header='IView-Table'>
                <div>
                    <Table :columns="dataColumns" :data="dataList"></Table>
                    <Page :total="dataCount" :page-size="pageSize" 
                    show-total  @on-change="onPageChange"></Page>
                  </div>
            </eve-tab-item>
            <eve-tab-item header='Code'>
                <pre>
                    <code class="lang-typescript">
                     {{code.table}}
                    </code>
             </pre>
            </eve-tab-item>
        </eve-tab>
        <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/agate.min.css" rel="stylesheet">
        <!--<link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/vs.min.css" rel="stylesheet">-->
        <!--<link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/atelier-plateau-dark.min.css" rel="stylesheet">-->
        <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/monokai-sublime.min.css" rel="stylesheet">
    </section>
</div>